<p id="notice"><%= notice %></p>

<p>
  <strong>Payment meth:</strong>
  <%= @invoice.payment_meth %>
</p>

<p>
  <strong>Total:</strong>
  <%= @invoice.total %>
</p>

<p>
  <strong>Emission date:</strong>
  <%= @invoice.emission_date %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
