<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @article.code %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @article.weight %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
