<!DOCTYPE html>
<html>
<head>
  <title>Stress</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <a href="/users">Utenti</a>
  <a href="/orders">Ordini</a>
  <a href="/invoices">Fatture</a>
  <a href="/articles">Articoli</a>
  <%= yield %>
</body>
</html>
